<h1>This is the home</h1>

<%# navbar %>
<ul class='navbar-list-button-ul' >
  <li><%= link_to root_path, class: "navbar-list-button" do%>
    <i class="fa-solid fa-house-user"></i>
    Home
  <% end %>
  </li>
  <li class="navbar-list-button"><i class="fa-solid fa-hashtag"></i> Explore</li>
  <li class="navbar-list-button"><i class="fa-solid fa-bell"></i> Notifications</li>
  <li class="navbar-list-button"><i class="fa-solid fa-envelope"></i> Messages</li>
  <li class="navbar-list-button"><i class="fa-solid fa-bookmark"></i> Bookmarks</li>
  <li class="navbar-list-button"><i class="fa-solid fa-list"></i> Lists</li>
  <% if user_signed_in? %>
    <li><%= link_to users_path(current_user), class: "navbar-list-button" do %>
      <i class="fa-solid fa-user"></i>
      Profile
    <% end %>
  <% else %>
    <!--li class="nav-item"-->
      <%= link_to new_user_session_path, class: "navbar-list-button" do %>
        <i class="fa-solid fa-user"></i>
        Profile
      <% end %>
    <!--/li-->
  <% end %>
  </li>
  <li class="navbar-list-button"><i class="fa-solid fa-ellipsis"></i> More</li>
  <% if user_signed_in? %>
    <li><%= link_to "Tweet", new_user_tweet_path(current_user), class: "new-tweet-button" %></li>
  <% else %>
    <!--li class="nav-item"-->
      <%= link_to "Tweet", new_user_session_path, class: "new-tweet-button" %>
    <!--/li-->
  <% end %>
  <li></li>
</ul>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <!-- This div is centered and takes 6 columns -->
      <ul>
        <% @tweets.each do |tweet| %>
          <li><%= tweet.content %></li>
          <li><%= tweet.user.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
