<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <!-- This div is centered and takes 6 columns -->
      <h1>Home</h1>
      <div>
        <ul>
          <% @tweets.each do |tweet| %>
            <div class="tweet-message">
              <div class="tweet-identifiers">
                <li><%= tweet.user.name %></li>
                <li><%= tweet.user.username %></li>
              </div>
              <li><%= tweet.content %></li>
              <div class='tweet-counters'>
                <li><i class="fa-solid fa-retweet"></i><%= tweet.retweet_count%></li>
                <li><i class="fa-solid fa-heart"></i><%= tweet.likes_count %></li>
              </div>
            </div>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
