<div class="tweet-container">
  <%= link_to root_path, class: "tweet-link" do %>
    <h1><i class="fa-solid fa-arrow-left"></i> Tweet</h1>
  <% end %>
  <ul class="tweets-list">
    <%= render @tweet %>
  </ul>

  <p class="text-muted" style="margin-bottom: 2px;">Replying to
    <%= link_to @tweet.user do %>
      <strong style="text-decoration: underline;text-decoration-color: white;"><%= @tweet.user.name %></strong>
    <% end %>
  </p>
  <ul class="tweets-list">
    <% @comments.each do |comment| %>
      <li class="tweet mb-3">
        <div class="tweet-header">
          <div class="tweet-header-content">
            <div class="avatar">
              <%= image_tag comment.user.profile_image.attached? ? comment.user.profile_image : "https://avatars.githubusercontent.com/u/100782377?s=400&u=8846f6a4dcd5d5a2ddd379ba148683f2122b08e6&v=4", class: "avatar" %>
            </div>
            <div class="user-info">
              <strong class="username"><%= comment.user.name %></strong>
              <span class="tweet-username">@<%= comment.user.username %></span>
            </div>
          </div>
          <span class="tweet-time text-muted small"><%= time_ago_in_words(comment.created_at) %> ago</span>
        </div>
        <div class="tweet-content", style="justify-content: space-between; display: flex; align-items: center;">
          <p><%= comment.content %></p>
          <div>
          <% if current_user == comment.user %>
            <%= button_to tweet_comment_path(@tweet, comment), method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="fa-solid fa-trash-can"></i>
            <% end %>
          </div>
        </div>
      <% end %>
      </li>
    <% end %>
  </ul>

  <%= form_with(model: [@tweet, @comment], local: true) do |form| %>
    <div class="form-group">
      <%= form.label :content, "Tweet your reply" %>
      <%= form.text_area :content, rows: 3, class: "form-control", placeholder: "Type your reply here..." %>
    </div>
    <%= form.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>
