<ul class='navbar-list-button-ul navbar-left'>
  <li class="navbar-logo">
    <%= image_tag "twitter_logo.png", alt: "Twitter Logo", class: "navbar-logo-image" %>
    <span class="navbar-title">rettiwT</span>
  </li>

  <li>
    <%= link_to root_path, class: "navbar-list-button" do %>
      <i class="fa-solid fa-house-user"></i>
      Home
    <% end %>
  </li>

  <% if user_signed_in? %>
    <li>
      <%= link_to user_path(current_user), class: "navbar-list-button" do %>
        <i class="fa-solid fa-user"></i>
        Profile
      <% end %>
    </li>
  <% else %>
    <li>
      <%= link_to new_user_session_path, class: "navbar-list-button" do %>
        <i class="fa-solid fa-user"></i>
        Profile
      <% end %>
    </li>
  <% end %>

  <% if user_signed_in? %>
    <li>
      <%= link_to "Tweet", new_user_tweet_path(current_user), class: "new-tweet-button" %>
    </li>
  <% else %>
    <li>
      <%= link_to "Tweet", new_user_session_path, class: "new-tweet-button" %>
    </li>
  <% end %>

  <li class="nav-item dropdown navbar-list-button navbar-list-user-profile">
  <div class="d-flex align-items-center">
    <% if user_signed_in? %>
      <%= image_tag current_user.profile_image.attached? ? current_user.profile_image : "https://avatars.githubusercontent.com/u/100782377?s=400&u=8846f6a4dcd5d5a2ddd379ba148683f2122b08e6&v=4", class: "navbar-list-user-profile-avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
      <div>
          <%= current_user.name %>
          <%= "@#{current_user.username}" %>
      </div>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "navbar-list-button" %>
    <% end %>
    </div>
  </li>
</ul>
